*.iml
.gradle/
/local.properties
/.idea/
/.vscode/
.DS_Store
/build/
/app/build/
/app/release/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.keystore
*.jks
/keystore/
*.class
*.log
*.hprof
*.orig
*.ipr
*.iws
*.p12
*.pem
*.crt
*.key
*.jfr
*.dSYM
*.dex
*.so
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
**/build/
**/out/
**/.idea/
**/.vscode/
**/generated/
**/captures/
**/.gradle/
**/local.properties
